<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      Locais das Lojas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" routerLink="/tabs/lojaForm">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- AGM -->
  <agm-map [latitude]="lat" [longitude]="lng" [mapTypeId]="mapType" [zoom]="zoom" (mapClick)="onClick($event, infoWindow)">

    <agm-marker [latitude]="loja.lat" [longitude]="loja.lng" [markerDraggable]="false">
      <agm-info-window #infoWindow>
        <strong>{{loja.endereco}} </strong>
      </agm-info-window>
    </agm-marker>

  </agm-map>

  <!-- Lojas -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let l of lojas; let i = index" >
        <ion-card >
          <ion-card-header routerLink="/tabs/lojaPerfil/{{l.id}}">
            <ion-card-title>{{l.nome}}</ion-card-title>
          </ion-card-header>
          <ion-card-content (click)="escolherLoja(i)">
            {{loja.tel}} - Localização
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>