<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      Locais das Lojas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" routerLink="/tabs/lojaForm">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <agm-map [latitude]="lat" [longitude]="lng" [mapTypeId]="mapType" [zoom]="zoom" (mapClick)="onClick($event)">

    <agm-marker [latitude]="loja.lat" [longitude]="loja.lng" [markerDraggable]="true"> </agm-marker>

  </agm-map>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let loja of lojas; let i = index" (click)="escolherLoja(i)">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{loja.nome}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{loja.endereco}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>