<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list> 

    <ion-item-sliding  *ngFor="let usuario of usuarios">
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="remover(usuario.id)"> Remover </ion-item-option>
      </ion-item-options>
  
      <ion-item lines="inset" routerLink="/tabs/usuarioPerfil/{{usuario.id}}">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-text>{{usuario.nome}} - {{usuario.email}}</ion-text>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="success" routerLink="/tabs/usuarioForm/{{usuario.id}}"> Alterar </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>